node_modules
*.log
*.db
/*.py
!scripts/*.py
!update_script_paths.py
*.mjs
*.md
!憿澈撠店敹恍?????md
!organic_solvent_no_answer_list.md
?脫平*.json
deploy_temp/

# ?撌亙?摮?
organic_pdf.txt
organic_solvent.json
*.bak

# ??憿澈??閬?憭芸之嚗???git嚗?
銝撐霅/
?瑕?瘜?
?瑕?瘜txt/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
.bin/

node_modules/
tests/screenshots/
package-lock.json
